* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微软雅黑";
}

#one {
  width: 100%;
  height: auto;
}
//左边一栏
.inner-left{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  //上部分添加按钮
  .left-title {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    color: white;
    .add-butt {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #f6faff;
      font-size: 15px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      color: #383838;
    }
  }
//  下部分栏目
  .left-column {
    width: 100%;
  }
  .colume-list {
    position: relative;
    width: 100%;
    height: 60px;
    input {
      box-sizing: border-box;
      border:none;
      outline: none;
      border-bottom: 1px solid black;
      font-size: 25px;
      color: white;
      background: none;
      width: 80%;
      height: 100%;
      float: right;
    }
    .ball {
      position: absolute;
      left: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      &.red {
        background: #ff707a;
      }
      &.yellow {
        background: #fff86d;
      }
      &.blue {
        background: #488dff;
      }
      &.orange {
        background: orange;
      }
      &.green {
        background: #8bfa89;
      }
      &.zise {
        background: blueviolet;
      }
    }
  }
}
//右边一栏
.inner-right {
  position: fixed;
  right: 0;
  left: 400px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  background: cadetblue;
  .aa {
    box-sizing: border-box;
    padding-left: 50px;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 25px;
    color: white;
  }
  .right-content {
    width: 100%;
    &.red {
      color: #ff707a;
    }
    &.yellow {
      color: #fff86d;
    }
    &.blue {
      color: #488dff;
    }
    &.orange {
      color: orange;
    }
    &.green {
      color: #8bfa89;
    }
    &.zise {
      color: blueviolet;
    }
    h2 {
      font-size: 50px;
      box-sizing: border-box;
      padding-left: 30px;
      padding-right: 100px;
    }
    .che {
      cursor: pointer;
      margin-left: 700px;
    }
    li {
      position: relative;
      box-sizing: border-box;
      padding-left: 50px;
      width: 100%;
      height: 40px;
      input {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background: none;
        border:none;
        border-bottom: 1px solid black;
        outline: none;
      }
      .quan {
        position: absolute;
        left: 10px;
        top:0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &.red {
          background: #ff707a;
        }
        &.yellow {
          background: #fff86d;
        }
        &.blue {
          background: #488dff;
        }
        &.orange {
          background: orange;
        }
        &.green {
          background: #8bfa89;
        }
        &.zise {
          background: blueviolet;
        }
      }
      .rem {
        position: absolute;
        left: 500px;
        top:0;
        width: 50px;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
    }
    .the-contline {
      width: 100%;
      height: 2px;
      margin-top: 10px;
      background: blue;
    }
  }
  .check-butt {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    .check-butt-box {
      cursor: pointer;
      height: 100%;
      width: 33%;
      float: left;
      text-align: center;
      line-height: 50px;
      color: deepskyblue;
      &.red {
        color: red;
      }
    }
  }
}
.right-check-box {
  position: fixed;
  right: 300px;
  z-index: 800;
  top:10px;
  width: 500px;
  height: 300px;
  background: white;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  input {
    position: relative;
    left: 0;
    right: 0;
    top:30px;
    margin: auto;
    display: block;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    &.red {
      color: #ff707a;
    }
    &.yellow {
      color: #fff86d;
    }
    &.blue {
      color: #488dff;
    }
    &.orange {
      color: orange;
    }
    &.green {
      color: #8bfa89;
    }
    &.zise {
      color: blueviolet;
    }
  }
  .list-color {
    display: block;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    margin-top: 50px;
    li{
      float: left;
      width: 16.6%;
      height: 40px;
      &.red {
        background: #ff707a;
      }
      &.yellow {
        background: #fff86d;
      }
      &.blue {
        background: #488dff;
      }
      &.orange {
        background: orange;
      }
      &.green {
        background: #8bfa89;
      }
      &.zise {
        background: blueviolet;
      }
    }
  }
}
.tianjia {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  color: white;
  padding-left: 30px;
  font-size: 30px;
  cursor: pointer;
}
